
.related-projects {
	display: inline-flex;
	justify-content: space-between;
	margin-bottom: 30px;
	flex-grow: 1;
}

.main-nav {
	display: inline-flex;
	justify-content: flex-end;	
}

.social {
	display: flex;
	flex-direction: column;	
}

.social-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}