

.home-hero {
	display: flex;
	align-items: center;
	justify-content: center;
}



.project-thumb-area {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
	flex-grow: 1;
	line-height: 0
}

.main-nav {
	display: inline-flex;
	justify-content: flex-end;	
}

.social {
	display: flex;
	flex-direction: column;	
}

.social-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

