
.container {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 200px 2fr 1fr 200px;
	grid-gap:15px;
}

header {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
   	grid-row-end: 2;
}

.main-header {
	display: grid;
	grid-template-columns: 200px 2fr 1fr 200px;	
}

.name {
	grid-column-start: 	2;
	grid-column-end: 3;
}

.cover-image {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 3;
}

.main-heading {
	grid-column-start: 2;
	grid-column-end: 3;
	/*grid-row-start: 2;
   	grid-row-end: 3;*/
   	grid-row-start: 3;
   	grid-row-end: 4;
}

.main {
	grid-column-start: 2;
	grid-column-end: 3;
	/*grid-row-start: 3;
   	grid-row-end: 4;*/
   	grid-row-start: 4;
   	grid-row-end: 5;
}

aside {
	grid-column-start: 3;
	grid-column-end: 4;
	/*grid-row-start: 3;
   	grid-row-end: 4;*/
   	grid-row-start: 4;
   	grid-row-end: 5;
}

.related-heading {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 4;
   	grid-row-end: 5;
}

.skills-header {
	grid-column-start: 2;
	grid-column-end: 4;
	/*grid-row-start: 4;
   	grid-row-end: 5;*/
   	grid-row-start: 5;
   	grid-row-end: 6;
}


.skills-area {
	grid-column-start: 2;
	grid-column-end: 4;
	/*grid-row-start: 5;
   	grid-row-end: 6;*/
   	grid-row-start: 6;
   	grid-row-end: 7;
}

.projects-heading {
	grid-column-start: 2;
	grid-column-end: 3;
	/*grid-row-start: 2;
   	grid-row-end: 3;*/
   	grid-row-start: 7;
   	grid-row-end: 8;
}

.projects {
	grid-column-start: 2;
	grid-column-end: 3;
	/*grid-row-start: 3;
   	grid-row-end: 4;*/
   	grid-row-start: 8;
   	grid-row-end: 9;
}

.aside-projects {
	grid-column-start: 3;
	grid-column-end: 4;
	/*grid-row-start: 3;
   	grid-row-end: 4;*/
   	grid-row-start: 8;
   	grid-row-end: 9;
}

.project-thumb-area {
	grid-column-start: 2;
	grid-column-end: 4;
	/*grid-row-start: 5;
   	grid-row-end: 6;*/
   	grid-row-start: 9;
   	grid-row-end: 10;
}

.contact-heading {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
   	grid-row-end: 3;
}

.contact-form {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
   	grid-row-end: 4;
}

footer {
	grid-column-start: 1;
	grid-column-end: 5;
	/*grid-row-start: 6;
   	grid-row-end: 7;*/
   	grid-row-start: 12;
   	grid-row-end: 13;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1100px) {

	/* Styles */
	.container {
		grid-template-columns: 100px 4fr 1fr 100px;		
	}

	.projects-container {
		grid-template-columns: 100px 1fr 100px;	
	}

	.main-header {
		grid-template-columns: 100px 2fr 1fr 100px;
	}

	aside {
	    grid-column-start: 3;
	    grid-column-end: 4;
	    grid-row-start: 3;
	    grid-row-end: 4;
	}

	.about-pic-area  {
		grid-column-start: 3;
	    grid-column-end: 4;		
		grid-row-start: 3;
	    grid-row-end: 4;
	}

	.about-me {
		grid-row-start: 4;
	    grid-row-end: 5;
	}
	
	.connect {
		font-size: 1.2em;
	}
	

	.skills-header, {
	    grid-column-start: 3;
	    grid-column-end: 4;
	    grid-row-start: 4;
	    grid-row-end: 5;	    
	}

	.project-thumb-area {
		grid-column-start: 2;
	    grid-column-end: 4;
	    grid-row-start: 4;
	    grid-row-end:5;
	    max-width: 760px;
	}

	.project-thumbs {
		max-width: 130px;
		margin: 10px;
		border: 1px solid black;
	}

	.related-heading {
		display: none;
	}

	.aside-projects {
		grid-column-start: 2;
	    grid-column-end: 4;
	    grid-row-start: 5;
	    grid-row-end:6;
	}

	footer {
		grid-row-start: 7;
		grid-row-end:8;
	}
}

