
.container {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 200px 2fr 1fr 200px;
	/*grid-template-rows: ;*/
	grid-gap:15px;	
}

header {	
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
   	grid-row-end: 2;
}

.main-header {
	display: grid;
	grid-template-columns: 200px 2fr 1fr 200px;
	grid-gap:10px;
}

.name {
	grid-column-start: 	2;
	grid-column-end: 3;
}

.main-heading {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
   	grid-row-end: 3;
}

.main {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
   	grid-row-end: 4;
}



aside {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
   	grid-row-end: 4;
}

.related-heading {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 4;
   	grid-row-end: 5;
}

.skills-header {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 4;
   	grid-row-end: 5; 
}


.skills-area {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 5;
   	grid-row-end: 6; 
}

.related-projects {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 5;
   	grid-row-end: 6;   	
}

footer {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 6;
   	grid-row-end: 7;
}