* {
	box-sizing: border-box;
}

body {	
	font-family: Helvetica;
	color: red;
	padding: 0;
  	margin: 0;
}

nav {
	background-color: green;
}

.main {
	background-color: lightblue;
}

aside {
	background-color: dodgerblue;
}

footer {
	background-color: darkgreen;
}

