* {
	box-sizing: border-box;
}

html { 
    background-image: url('../img/crossword/crossword.png');
}

body {
	font-family: 'Titillium Web', sans-serif;
	line-height: 1.3em;
	cursor: pointer;
}

h1 { font-size: 3em; }
h2 { font-size: 2.25em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }

a {
	text-decoration: none;
}

img {
	border-radius: 	5px;
}

aside {
	margin-top: 5px;
}

.container {
	margin: 0 auto;
}


.name {
	color: white;
	font-family: 'Rock Salt', cursive
}

.main-header {	
	background-color: #343a40;
	height: 55px;
	line-height: 55px;
	margin-bottom: 10px;
	box-shadow: 0 5px 3px -3px #999;
}

.main-nav li {
	padding-left: 15px;
}

.main-nav a {		
	color: white;
}

a:hover {
	color: dodgerblue;	
}

.primary, .secondary {display: inline;}
.secondary {margin-left: 5px;}

.skills-header-lg {
	margin-bottom: 20px;
}

.skills-header-sm {
	margin-bottom: 5px;
}

.portfolio-image, .about-me {
	margin-top: 5px;
}

.main-image {
	max-width: 750px;
	
}

/*ASIDE*/
.self-portrait {
	max-height: 200px;
	max-width: 200px;	
}

.social {
	margin-top: 5px;	
	max-width: 100%;
	height:auto;	
}

.connect {
	margin-bottom: 10px;
}

.social-links a {
	text-decoration: none;	
}

.social-links :hover {
	color: dodgerblue;	
}

/*PROJECTS PAGE*/



.project-heading {
	margin-bottom: 10px;
}

/*.related-image {
	max-width: 250px;
	height: 150px;	
}*/

/*Project Slides*/

.projectSlides {
	width: 100%;	
}

.project-thumbs {
	width: 100%;
	/*border: 0px solid black;*/	
}

#project1-thumb, #project2-thumb, #project4-thumb {
	opacity: 0.5;
} 

#project-title1, #project-title2, #project-title4 {
	display: none;
}

#project-slide1, #project-slide2, #project-slide4 {
	display: none;
}

#project-description1, #project-description2, #project-description4 {
	display: none;
}




/*CONTACT PAGE*/

.submit_btn {
	background-color: dodgerblue;
	color: white;
	border-radius: 5px;
	padding: 8px;
	border: none;
}

.submit_btn:hover{
	margin-top: 1px;
	background-color: #1b81e5;	
}

/*FOOTER*/

footer {
	height: 100%;
	min-height: 50px;
	line-height: 50px;
	background-color: #343a40;
	color: white;
	text-align: center;
}

footer a {
	color: white;
}


@media only screen and (min-width: 1440px) {
    /* styles for MacBook Pro-sized screens and larger */
}

@media only screen and (min-width: 1280px) {
    /* styles for wide screens */
    .related-image {
	max-width: 200px;		
	}
}

@media only screen and (min-width: 1024px) {
    /* styles for wide screens */
    .related-image {
	max-width: 175px;		
	}
}

@media only screen and (min-width: 640px) {
    /* styles for wide screens */
    .related-image {
	max-width: 175px;		
	}
}

@media only screen and (max-width: 320px) {
    /* styles for narrow screens */
}